<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.scavengerhunt"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="15"
        android:targetSdkVersion="18"
        tools:ignore="OldTargetApi" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".ScavengerHuntApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".StartActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!--
        Login activity is started when the StartActivity is done with
        Parse.com initialization
        -->
        <activity
            android:name="LoginActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="MainMenuActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".CreateHuntActivity"
            android:label="Create Hunt" >
        </activity>
        <activity
            android:name=".UpdateHuntActivity"
            android:label="Update Hunt" >
        </activity>
        <activity android:name=".SingleItemView" >
        </activity>
        <activity
            android:name=".PlayersActivity"
            android:label="Select Players" >
        </activity>
        <activity
            android:name=".AddItemsActivity"
            android:label="Add Items" >
        </activity>
        <activity
            android:name=".DeleteItemsActivity"
            android:label="Remove Items" >
        </activity>
        <activity
            android:name=".ShowHunt"
            android:label="Scavenger Hunt" >
        </activity>
        <activity
            android:name=".AllHuntsActivity"
            android:label="All Hunts" >
        </activity>
        <activity
            android:name=".UpdateItems"
            android:label="Update Items" >
        </activity>
    </application>

</manifest>